body {
	font: 'Times New Roman', Times, serif;
	text-align: center;
	background-color: rgb(235, 113, 224);
	color: rgb(10, 5, 54);
	font-size: 250%;
	font-display: center;
}

form {
	padding: 0px 0px;
	display: inline-block;
	color: lightblue;
	width: 50%;
	height: 150%;
}

input[type=text] {
	width: 50%;
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 5px solid rgb(238, 39, 149);
	box-sizing: border-box;
	border-radius: 7%;
	position: static;
	color: black;
}

input[type=result] {
	width: 50%;
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 5px solid rgb(238, 39, 149);
	box-sizing: border-box;
	border-radius: 7%;
	position: static;
	color: black;
}

input[type=radio] {
	width: 75%;
	padding: 6px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 5px solid rgb(238, 39, 149);
	box-sizing: border-box;
	border-radius: 7%;
	position: static;
	color: black;
}

input[type=submit] {
	background-color: rgb(91, 88, 247);
	border: white;
	color: rgb(17, 16, 16);
	font-size: 80%;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 10px;
	margin: 4px 0;
	border-radius: 10%;
	border-width: 10px;
	cursor: pointer;
	display: inline-block;
}

.form-group {
	padding: 0px;
	background-color: rgb(53, 17, 83);
}

.text {
	padding: 10px;
	background-color: rgb(53, 17, 83);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 100%;
	color: red;
}

.texts {
	padding: 0px;
	background-color: rgb(53, 17, 83);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 150%;
	color: red;
}

.result {
	padding: 20px;
	background-color: rgb(53, 17, 83);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 120%;
	color: rgb(242, 241, 248);
}

.heading {
	padding: 0px;
	background-color: rgb(53, 17, 83);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 100%;
	color: rgb(223, 241, 155);
}

.form-control {
	padding: 0px;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60%;
	font-display: left;
	position: static;
	display: left;
	margin-left: 30%;
	width: 33%;
	height: 70%;
}

button {
	background-color: rgb(204, 165, 58);
	color: white;
	padding: 10px 20px;
	margin: 30px 30px;
	border: 3px solid white;
	box-sizing: border-box;
	border-radius: 7%;
	cursor: pointer;
	width: 70%;
	font-family: 'Courier New', Courier, monospace;
	font-size: 110%;
}

button:hover {
	opacity: 0.8;
}

.form-text {
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60%;
	font-stretch: semi-expanded;
}

.form-result {
	padding: 20px;
	background-color: rgb(53, 17, 83);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 120%;
	color: rgb(242, 241, 248);
}

input[type=radio]:checked ~ .check {
	border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before {
	background: #0DFF92;
}

input[type=radio]:checked ~ label {
	color: #0DFF92;
}